<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="60 seconds">
    <jmxConfigurator />

    <!-- Primary file appender for server logs -->
    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/home/y/logs/yjava_jetty/server.log</File>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %5p [%t] %c - %m%n %ex</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>/home/y/logs/yjava_jetty/server.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>500MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="R" />
        <queueSize>512</queueSize>
    </appender>

    <root level="WARN">
        <appender-ref ref="ASYNC" />
    </root>
</configuration>
