<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <!-- Primary file appender for imap logs -->
    <appender name="R" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="imapnio.log" />
        <param name="MaxFileSize" value="500MB" />
        <param name="MaxBackupIndex" value="25" />
        <param name="Append" value="true" />
        <param name="Encoding" value="UTF-8" />
        <param name="ImmediateFlush" value="true" />
        <param name="BufferedIO" value="false" />
        <param name="BufferSize" value="4" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p [%t] %c %X{userContext} - %m%n" />
        </layout>
    </appender>

    <appender name="C" class="org.apache.log4j.ConsoleAppender">
        <param name="Encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p [%t] %c %X{userContext} - %m%n" />
        </layout>
    </appender>

    <!-- Classes to log into UserAppender -->
    <logger name="com.yahoo.ymail.xmas.common.logger.PayloadLogger" additivity="false">
        <level value="OFF" />
    </logger>

    <root>
        <priority value ="INFO" />
        <appender-ref ref="C" />
    </root>
</log4j:configuration>